.gridBox {
  --ion-grid-padding: 0;
}

.codEditor {
  background-color: #5c5c5c !important;
}

.codEditor {
  --ion-grid-column-padding: 4px;
}

.output-container {
}

.target-container {
}

textarea {
  width: 100%;
  height: 500px;
  resize: none;
}

#target::part(image) {
  width: 300px;
  height: 300px;
}

.submit-button {
  position: fixed;
  bottom: 44px;
  right: 84px;
}
