ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: initial !important;
}

.challenge-silde:nth-child(n + 2) {
  margin-left: 24px;
}
