ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

.challenge-slides {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  margin: 0 0;
}
