.challenge-silde {
  width: initial;
}

.box {
  --padding-start: 0;
  --inner-padding-end: 0;
  flex: 0 0 auto;
}

.box ion-icon {
  color: #c9c9ca;
}

.target-image::part(image) {
  width: 200px;
  height: 100%;
  object-fit: contain;
}

.box:hover{
  z-index: 0.1;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}