.challenge-silde {
  width: initial;
}

.box {
  --padding-start: 0;
  --inner-padding-end: 0;
  flex: 0 0 auto;
}

.box ion-icon {
  color: #c9c9ca;
}

.target-image::part(image) {
  width: 200px;
  height: 100%;
  object-fit: contain;
}
